{% extends "base.html.twig" %}

{% block titlte %}Erreur 404{% endblock %}

{% block body %}
    <h1>Erreur 404 : page non trouvée</h1>

    <h3>La page demandée n'existe pas</h3>
        
        <a href="{{ path('app_home') }}" class="btn btn-secondary">
            <i class="fa fa-home">Retour à la page d'accueil</i>
        </a>
{% endblock %}